fastapi==0.111.0
elasticsearch[async]==8.13.2
redis==5.0.4
orjson==3.8.12
python-decouple==3.8
faker==19.2.0
tenacity==9.0.0
pydantic-settings==2.8.1

pydantic~=2.10.6
more-itertools~=10.6.0
elastic-transport~=8.17.0